# scikit-learn==0.24.2
# matplotlib
# seaborn
# numpy
# pandas
# fastapi
# tfx
# uvicorn
# kfp

scikit-learn==0.24.2
matplotlib==3.4.3
fastapi>=0.68.0,<0.69.0
uvicorn>=0.15.0,<0.16.0
pandas
tfx
kfp
seaborn
